<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tapdaq-unityads" version="5.10.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Tapdaq UnityAds Adapter</name>
    <description></description>
    <keywords></keywords>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.4.0" />
    </engines>

    <platform name="android">                
        <config-file target="AndroidManifest.xml" parent="/manifest/application">    
            <!-- UnityAds Adapter -->
            <activity android:name="com.unity3d.ads.adunit.AdUnitActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
            <activity android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
            
        </config-file>
        <source-file src="src/android/TapdaqUnityAdsAdapter.jar" target-dir="libs"/>
        <source-file src="src/android/libs/UnityAds-2.1.2.jar" target-dir="libs" />    
    </platform>

    <platform name="ios">                 
        <hook type="after_plugin_install" src="hooks/pod_install.js" /> 
        <framework src="TapdaqUnityAdsAdapter" type="podspec" spec="~> 5.10.0" />
    </platform>
</plugin>
