<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.tapdaq.cdvtapdaq" version="1.0.0">

    <name>Tapdaq</name>
    <description>Tapdaq is a cross promotion tool for mobile apps. We help you to retain users across your app portfolio and to trade installs with other developers.</description>
    <keywords>cordova,tapdaq,ads,advertising,promotion,cross,cross-promotion,retention,direct,marketing</keywords>

    <js-module src="www/tapdaq.js" name="CDVTapdaq">
        <clobbers target="Tapdaq" />
    </js-module>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="CDVTapdaq">
                <param name="ios-package" value="CDVTapdaq"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <!-- Wrapper files -->
        <source-file src="src/ios/CDVTapdaq.m" />

        <!-- SDK -->
        <framework src="src/ios/lib/Tapdaq.framework" custom="true" />

        <!-- Dependencies -->
        <framework src="Foundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="AdSupport.framework" />

    </platform>

    <platform name="android">

        <framework src="com.google.android.gms:play-services-plus:+" />
        <framework src="com.google.android.gms:play-services-identity:+" />>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CDVTapdaq">
                <param name="android-package" value="com.tapdaq.cordova.CDVTapdaq" />
            </feature>
        </config-file>

        <config-file target="AndroidMainifest.xml" parent="/maifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/CDVTapdaq.java" target-dir="src/com/tapdaq/cordova" />
        <source-file src="src/android/tapdaq.jar" target-dir="libs" />

    </platform>

</plugin>
