<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.tapdaq.cdvtapdaq" version="1.0.0">
    <name>Tapdaq</name>
    <description>Tapdaq is a cross promotion tool for mobile apps. We help you to retain users across your app portfolio and to trade installs with other developers.</description>
    <keywords>cordova,tapdaq,ads,advertising,promotion,cross,cross-promotion,retention,direct,marketing</keywords>
    <js-module src="www/tapdaq.js" name="CDVTapdaq">
        <clobbers target="Tapdaq" />
    </js-module>
    <platform name="ios">

        <hook type="before_plugin_add" src="scripts/download_ios_sdk.js" />

        <config-file target="config.xml" parent="/*">
            <feature name="CDVTapdaq">
                <param name="ios-package" value="CDVTapdaq"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <!-- Wrapper files -->
        <source-file src="src/ios/CDVTapdaq.m" />

        <!-- SDK -->
        <framework src="src/ios/lib/Tapdaq.framework" custom="true" />
        <resource-file src="src/ios/lib/TapdaqResources.bundle" />

        <!-- Dependencies -->
        <framework src="Foundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="AdSupport.framework" />

    </platform>
</plugin>
