<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tapdaq-ironsource" version="4.3.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Tapdaq IronSource Adapter</name>
    <description></description>
    <keywords></keywords>

    <engines>
        <engine name="cordova-android" version=">=8.0.0" />
        <engine name="cordova-ios" version=">=5.0.0" />
    </engines>

    <platform name="android">
		<framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>

    <platform name="ios">               
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" />
                <source url="https://github.com/tapdaq/cocoapods-specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="Tapdaq/IronSource" spec="~> 7.8.1" />
            </pods>
        </podspec>
    </platform>
</plugin>
