<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tapdaq-mopub" version="5.10.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Tapdaq MoPub Adapter</name>
    <description></description>
    <keywords></keywords>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.4.0" />
    </engines>

    <platform name="android">        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- MoPub Adapter -->
            <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name="com.mopub.mobileads.RewardedMraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>


        </config-file>
        <source-file src="src/android/TapdaqMoPubAdapter.jar" target-dir="libs"/>     
        <source-file src="src/android/libs/libAvid-mopub-3.6.4.jar" target-dir="libs" />   
        <source-file src="src/android/libs/Moat_Mobile_AppKit_2.1.0.jar" target-dir="libs" />
        <source-file src="src/android/libs/MoPub_Banner_4.19.0.jar" target-dir="libs" />
        <source-file src="src/android/libs/MoPub_Base_4.19.0.jar" target-dir="libs" />
        <source-file src="src/android/libs/MoPub_Interstitials_4.19.0.jar" target-dir="libs" />
        <source-file src="src/android/libs/MoPub_RewardedVideo_4.19.0.jar" target-dir="libs" />
        <source-file src="src/android/libs/mopub-volley-1.1.0.jar" target-dir="libs" />
        
    </platform>

    <platform name="ios">                 
        <hook type="after_plugin_install" src="hooks/pod_install.js" /> 
        <framework src="TapdaqMoPubAdapter" type="podspec" spec="~> 5.10.0" />          
    </platform>
</plugin>
