<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tapdaq-tapjoy" version="5.10.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Tapdaq Tapjoy Adapter</name>
    <description></description>
    <keywords></keywords>

    <engines>
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.4.0" />
    </engines>

    <platform name="android">            
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>    
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">            
            <!-- Tapjoy Adapter -->
            <activity
                android:name="com.tapjoy.TJAdUnitActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                android:hardwareAccelerated="true" />
            <activity
                android:name="com.tapjoy.mraid.view.ActionHandler"
                android:configChanges="orientation|keyboardHidden|screenSize" />
            <activity
                android:name="com.tapjoy.mraid.view.Browser"
                android:configChanges="orientation|keyboardHidden|screenSize" />

            <activity
                android:name="com.tapjoy.TJContentActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        </config-file>
        <source-file src="src/android/TapdaqTapjoyAdapter.jar" target-dir="libs"/>
        <source-file src="src/android/libs/tapjoyconnectlibrary-11.11.1.jar" target-dir="libs" />
    </platform>

    <platform name="ios">                 
        <hook type="after_plugin_install" src="hooks/pod_install.js" /> 
        <framework src="TapdaqTapjoyAdapter" type="podspec" spec="~> 5.10.0" />          
    </platform>
</plugin>
