<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tapdaq-pangle" version="4.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Tapdaq Pangle Adapter</name>
    <description></description>
    <keywords></keywords>

    <engines>
        <engine name="cordova-ios" version=">=5.0.0" />
    </engines>

    <platform name="ios">               
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" />
                <source url="https://github.com/tapdaq/cocoapods-specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="Tapdaq/Pangle" spec="~> 7.6.0" />
            </pods>
        </podspec>
    </platform>
</plugin>
