<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tapdaq" version="4.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Tapdaq</name>
    <description>Tapdaq is a cross promotion tool for mobile apps. We help you to retain users across your app portfolio and to trade installs with other developers.</description>
    <keywords>cordova,tapdaq,ads,advertising,promotion,cross,cross-promotion,retention,direct,marketing</keywords>

    <engines>
        <engine name="cordova-android" version=">=8.0.0" />
        <engine name="cordova-ios" version=">=5.0.0" />
    </engines>

    <js-module name="Tapdaq" src="www/Tapdaq.js">
        <clobbers target="cordova.plugins.Tapdaq"/>
    </js-module>

    <platform name="android">                
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Tapdaq">
                <param name="android-package" value="com.tapdaq.cordovasdk.CDVTapdaq"/>
            </feature>
        </config-file>

        <source-file src="src/android/CDVTapdaq.java" target-dir="src/com/tapdaq/cordovasdk"/>
    </platform>

    <platform name="ios">               
        <config-file target="config.xml" parent="/*">
            <feature name="Tapdaq">
                <param name="ios-package" value="CDVTapdaq"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <!-- Wrapper files -->
        <source-file src="src/ios/CDVTapdaq.m" />
        <header-file src="src/ios/CDVTapdaq.h" />
        <source-file src="src/ios/CDVTapdaqDelegate.m" />
        <header-file src="src/ios/CDVTapdaqDelegate.h" />
        <source-file src="src/ios/CDVTDAdRequestDelegate.m" />
        <header-file src="src/ios/CDVTDAdRequestDelegate.h" />
        <source-file src="src/ios/CDVTDDelegateBase.m" />
        <header-file src="src/ios/CDVTDDelegateBase.h" />
        <source-file src="src/ios/CDVInvokedUrlCommand+tapdaq.m" />
        <header-file src="src/ios/CDVInvokedUrlCommand+tapdaq.h" />

        <!-- SDK -->
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" />
                <source url="https://github.com/tapdaq/cocoapods-specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="Tapdaq" spec="~> 7.5.2" />
            </pods>
        </podspec>
    </platform>
</plugin>
